<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Vendetta</title>
</head>

<body>
    <header class="bg-dark text-light text-center py-4">
        <div class="header-content">
            <div class="header-left">
                <h1 class="heroes-heading"><span style="color: #fff;">VEN</span><span style="color: #e61a2d;">DATA</span></h1>
            </div>
            <div class="header-right">
                <img id="ono" src="image/ono.png" alt="Ono Image">
                <span class="header-divider">X</span>
                <img id="ieee" src="image/ieee.png" alt="IEEE Image">
            </div>
        </div>
    </header>
</body>
</html>
