<%- include("partials/header.ejs") %>

<div class="container main-content">
    <img src="image/VEN.jpg" alt="VEN Poster" class="poster-image">
    <div class="heroes">
        <h4 class="heroes-subheading">21st-23rd Feb'24</h4>
        <h2 class="heroes-prize">PRIZE POOL</h2>
        <h2 class="heroes-amount">Rs. 40,000</h2>
        <p class="heroes-description">Join Onerios and IEEE SB MUJ for a cutting-edge hackathon. <br> Train and present your very own mini Chat-GPT on the provided dataset. <br>
        Showcase your skills and compete for exciting rewards! <br> Be part of this thrilling experience! 
        </p>
    </div>

    <div class="resources">
        <h2>Resources</h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<%- include("partials/footer.ejs") %>